.Contact {
  background-color: #1abc9c;
  padding: 80px 0;
  color: #ffffff;
  border-top: 8px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  text-align: center;
}

.Contact h3 {
  text-align: left;
  margin: 0 0 20px;
  color: #333333;
  font-weight: bold;
  font-size: 26px;
}

.Contact-macbook-inner {
  position: absolute;
  top: 65px;
  left: 163px;
  width: 845px;
  height: 532px;
  padding: 50px 30px 0;
  transition: all 0.3s ease;
}

.Contact-button {
  font-family: 'Montserrat', sans-serif;
  background-color: #ed5a64;
  border-color: #db4f58;
  border-bottom: 4px solid #db4f58;
}

.Contact-button,
.Contact-button:hover,
.Contact-button:focus {
  color: #ffffff;
  transition-duration: 0.4s;
}

.Contact-button:hover,
.Contact-button:focus {
  background-color: #9e3030;
  border-color: #9e3030;
  border-bottom: 4px solid #9e3030;
}

.Contact-button-not-active {
  pointer-events: none;
  cursor: default;
  background-color: gray;
  border-color: gray;
  border-bottom: 4px solid gray;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Contact-macbook-inner {
    position: static;
    width: 100%;
    height: auto;
    padding: 0;
  }

  .Contact-macbook-inner.black {
    background-color: transparent;
  }

  .Contact-macbook-inner > .animated {
    -webkit-animation-duration: 0;
    animation-duration: 0;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}

@media (max-width: 767px) {
  .Contact-macbook-inner {
    position: static;
    width: 100%;
    height: auto;
    padding: 0;
  }

  .Contact-macbook-inner.black {
    background-color: transparent;
  }

  .Contact-macbook-inner > .animated {
    -webkit-animation-duration: 0;
    animation-duration: 0;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}
