.Header {
  text-align: center;
  background-color: #2f4254;
}

@media (min-width: 768px) and (max-width: 991px) {
  .Header {
    height: auto;
  }
}

@media (max-width: 767px) {
  .Header {
    height: auto;
  }
}
