body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2 {
  margin: 0 0 20px;
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 56px;
}

@media (max-width: 767px) {
  h2 {
    font-size: 35px;
  }
}
