.PlacesWorked {
  padding: 80px 0;
  color: #ffffff;
  border-top: 8px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  text-align: center;
}

.PlacesWorked-summary {
  line-height: 22px;
  text-align: justify;
}

.PlacesWorked-heading {
  margin-bottom: 125px;
}

.PlacesWorked-logo {
  margin-bottom: 25px;
}

.PlacesWorked-job > p {
  transition-duration: 1s;
}

.PlacesWorked-job:hover > p {
  padding-top: 25px;
  color: #16a085;
  transition-duration: 1s;
}
