.TimeLine {
  border-left: 3px solid #ffffff;
  margin-left: 110px;
  padding-left: 0;
  width: 150px;
}

.TimeLine-event {
  padding: 20px 10px 20px 18px;
  margin-bottom: 15px;
}

.TimeLine-info {
  position: absolute;
  left: 50px;
  width: 100px;
}

.TimeLine-info:after {
  font-family: FontAwesome;
  width: 36px;
  height: 36px;
  position: absolute;
  right: 5px;
  top: -7px;
  content: '\f024';
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  background-color: #2c3e50;
  border: 6px solid #34495e;
  display: inline-block;
  padding-top: 2px;
}

.TimeLine-date {
  font-size: 14px;
  font-family: 'Montserrat';
  margin-left: 25px;
  float: left;
  font-weight: 600;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .TimeLine {
    margin: 25px 0 0 350px;
  }

  .TimeLine-info {
    width: 340px;
  }

  .TimeLine-date {
    margin-left: 265px;
  }
}

@media (max-width: 767px) {
  .TimeLine {
    margin: 25px 0 0 350px;
  }

  .TimeLine-info {
    width: 340px;
  }

  .TimeLine-date {
    margin-left: 265px;
  }
}

@media (max-width: 600px) {
  .TimeLine {
    margin: 25px 0 0 270px;
  }

  .TimeLine-info {
    width: 260px;
  }

  .TimeLine-date {
    margin-left: 185px;
  }
}

@media (max-width: 548px) {
  .TimeLine {
    margin: 25px 0 0 245px;
  }

  .TimeLine-info {
    width: 235px;
  }

  .TimeLine-date {
    margin-left: 160px;
  }
}

@media (max-width: 480px) {
  .TimeLine {
    margin: 25px 0 0 110px;
  }

  .TimeLine-info {
    width: 100px;
  }

  .TimeLine-date {
    margin-left: 25px;
  }
}
